{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container ">

    <h1 class="font-weight-bold"> <span class="text-danger">Great</span> Greetings !</h1>
    <h3 class="font-weight-bold px-5">
      I'm Dark <span class="text-danger">Nepal</span> Diary.
    </h3>
  </div>
 

    <div class="text-center mb-2">
      <img src="{% static 'img/empty.png' %}"  alt="Empty" width="400" height="200">
    </div>

  </div>

  
   <div class="container text-center mt-5 ">
    
    <a href="{% url 'add' %}" class="btn btn-secondary btn-lg" >Write you diary,<span class="font-weight-bold">Today</span></a>
   </div>
    

{% endblock %}